.homeContent video {
  max-width: 60em;
  max-height: 40em;

  margin: 2em;
}

.homeContent {
  display: flex;
  margin: 4em;

  justify-content: left;
}

.vidContent {
  max-width: 40em;
}

.vidContent h1 {
  text-align: center;
  max-width: 15em;

}

#pillsVidContent {
  margin-right: auto;
  margin-left: 2em;
}

#pillsVidContent h1 {
  max-width: 14em;
}

#pillsVid {
  margin-inline: auto;
}

.endContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media(max-width: 1461px){
  .homeContent video{
    max-width: 40em;
  }
}

@media(max-width: 1180px){
  .homeContent{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #pillsVidContent{
    margin-inline: auto;
  }
}

@media(max-width: 470px){
  #pillsVid{
    max-width: 10em;
  }
}

