.nav {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2em;
}

.navbar,
.logo {
  z-index: 2;
}

.navbar {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
}

.navbar li {
  list-style: none;
  font-size: 1.2rem;
  color: #1f8a52;
  padding: 0.75em 2em;
}

.navbar li:hover {
  cursor: pointer;
  color: #1f8a52;
  font-weight: 700;
}

.register {
  background: #2fcf7d;
  border-radius: 2em;
  font-weight: 700;
}

.register:hover {
  background: black;

  transition: ease-in-out 250ms;
}
