.nav {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2em;
}

.navbar,
.logo {
  z-index: 2;
}

.navbar {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
}

.navbar li {
  list-style: none;
  font-size: 1.2rem;
  color: var(--primary-bg-700);
  padding: 0.75em 2em;
}

.navbar li:hover {
  cursor: pointer;
  color: var(--primary-bg-400);
  font-weight: 700;
}

.selected{
  
}

.navbar .register {
  background: var(--primary-bg-700);
  color: var(--neutral-white);
  border-radius: 2em;
  font-weight: 700;
}

.navbar .register:hover {
  background: var(--primary-bg-100);
  color: var(--neutral-white);
  transition: ease-in-out 200ms;
}
