.nav {
  display: flex;
  flex-wrap: wrap;
  margin-left: 2em;
}

.navbar {
  display: flex;
  align-items: center;
  margin: 0 0 0 auto;
}

.navbar li {
  list-style: none;
  font-size: 1.2rem;
  padding: 2em 2em 1em 2em;
}

.navbar li:hover {
  cursor: pointer;
  color: #1f8a52;
  font-weight: 900;
  transition: border-bottom ease-out 5000ms;
}
