.footerWrapper {
  background: var(--primary-bg-100);
  margin-top: 10em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.footerLinks ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.footerLinks ul li {
  margin: 1.5em;
  font-size: 1rem;
  color: var(--neutral-white);
}

.copyright {
  display: flex;
  justify-content: center;

  font-size: 1rem;
  opacity: 0.7;
  color: var(--neutral-white);
}
