.bigCardsWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  color: var(--neutral-white);

  max-width: 960px;
  padding-left: 1em;
  padding-right: 1em;
  margin: auto;
  text-align: center;
}

.videoWrapper, .bigCardsOverlay{
    margin-top: 6.3em;
}

.videoWrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.bigCardsOverlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--primary-bg-100);
  z-index: 1;
  opacity: 0.80;
}

.videoContent {
  z-index: 2;
}

.videoContent p {
  font-size: 1.2rem;
  line-height: 1.6em;
}

.videoContent h1 {
  font-size: 4rem;
  line-height: 1em;
  color: var(--neutral-white);
}