.bigCardsWrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  color: #fff;

  max-width: 960px;
  padding-left: 1em;
  padding-right: 1em;
  margin: auto;
  text-align: center;
}

.videoWrapper, .bigCardsOverlay{
    margin-top: 6.3em;
}

.videoWrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.bigCardsOverlay {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: #1f8a52;
  z-index: 1;
  opacity: 0.80;
}

.videoContent {
  z-index: 2;
}
