*{
  box-sizing: border-box;
}

:root{
  --primary-bg-100: #5CAB7D;
  --primary-bg-400: #5A9367; 
  --primary-bg-700: #44633F;
  --primary-bg-900: #22311f;
  --neutral-white: #fefefe;


}

body{
  margin: 0;
  font-family: 'Roboto', Times, serif;
  overflow-x: hidden;
  min-height: 100vh;

  position: relative;
}

li{
  list-style: none;
}

h1,
h2,
h3{
  color: var(--primary-bg-700);
  line-height: 1em;
}

h1{
  font-size: 2.5rem;
}

p{
  font-size: 1.3rem;
  line-height: 1.6em;

  color: var(--primary-bg-900);
}

hr{
  max-width: 100em;
  color: var(--neutral-white);
}

a{
  text-decoration: none;
  color: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}

.container{
  margin: 5em;
}
