.weightWrapper{
    margin: 5em;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2em;
}

.leftSection p{
    max-width: 40ch;
}

.calculationForm{
    display: flex;
    justify-content: center;

}

.calculationName{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    
}

.calculationName input{
    display: inline-flexbox;
    height: 3em;
    margin-top: 1.5em;
    
}